<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>AdminDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Admin</h2>
    </header>

    <main>
        <h1>Add New Trek</h1>
        <form>
        <table>
            <tr><td>Trek Name:</td> <td><input type="text" name="T_name"></td></tr>
            <tr><td>Location:</td>  <td><input type="text" name="T_loc"></td></tr>
            <tr><td>Difficulty:</td> 
                <td><select name="T_diff">
                        <option value="None" disabled selected>None</option>
                        <option value="Easy">Easy</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Hard">Hardy</option>
                </td>
            </tr>
            <tr><td>Duration(Days):</td>    <td><input type="number" name="T_days"></td></tr>
            <tr><td>Available Slots:</td>   <td><input type="number" name="T_slots"></td></tr>
            <tr><td>Start Date:</td>        <td><input type="Date" name="T_sdate"></td></tr>
            <tr><td>Assign Staff:</td>      <td><input type="text" name="T_staff"></td></tr>
            <tr><td>Status:</td>            
                <td><select name="T_status">
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </td>
            </tr>

            <tr><td>Description:</td> <td><textarea cols="20" row="3" name="T_discr"></textarea></td></tr>
        </table>
        <a href="admin_treks.html" class="btn-link">Back</a> 
        <a href="#" class="btn-link btn-done">Submit</a>     
        </form>
 

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>