<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>AdminDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Admin</h2>
        <nav>
            <a href="admin_dashboard.html"> Dashboard </a>|
            <a href="admin_treks.html"> Trek </a>|
            <a href="admin_staff.html"> Staff Management </a>|
            <a href="admin_user.html"> User Management </a>|
        </nav>
    </header>

    <main>
        <h1>Trekking Info</h1>
        <a href="Add_trek.html" class="btn-link btn-big">+ Add New Trek</a>
        
        <table class="normal" border="1">
            <tr><th>ID</th>     <th>Trek Name</th>   <th>Location</th>   <th>Difficulty</th>        <th>slots</th>  <th>Status</th>  <th>Actions</th></tr>
            <tr><td>101</td>     <td>Snow Fun</td>    <td>Himalaya</td>  <td>hard/Mod/Easy</td>     <td>10</td>     <td>open/closed</td>
                <td><a href="Add_trek.html" class="btn-link">Edit</a><a href="#" class="btn-link btn-danger">Delete</a></tr>
        </table>

        <nav>
                <a href="admin_bookings.html"> View All Bookings → </a>
        </nav>
    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>