<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>AdminDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Admin</h2>
        <nav>
            <a href="{{ url_for('admin_dashboard') }}"> Dashboard </a>|
            <a href="{{ url_for('admin_treks') }}"> Trek </a>|
            <a href="{{ url_for('admin_staff') }}"> Staff Management </a>|
            <a href="{{ url_for('admin_user') }}"> User Management </a>
        </nav>
    </header>

    <main>
        <h1>Staff Info: </h1>

        <!--Pending staff for approval or rejection-->

        <h3>Pending:</h3>
            <table class="normal" border="1">
                <tr><th>Staff ID</th>     <th>Name</th>     <th>Email</th>   <th>Contact</th>  <th>Actions</th></tr>
                {% for staff in pending_staff %}
                <tr><td>{{ staff.staff_id }}</td>          <td>{{ staff.name }}</td>  <td>{{ staff.users.email }}</td>      <td>{{ staff.phone }}</td>
                    <td><a href="{{ url_for('approve_staff', staff_id=staff.staff_id) }}" class="btn-link btn-done">Approve</a><a href="{{ url_for('reject_staff', staff_id=staff.staff_id) }}" class="btn-link btn-danger">Reject</a></td>   
                </tr>
                {% else %}
                <tr>
                <td colspan="5">No pending staff.</td>
            </tr>

            {% endfor %}
            </table>


        <!--Approved Staff-->

        <h3>Approved:</h3>
            <table class="normal" border="1">
                <tr><th>Staff ID</th>     <th>Name</th>     <th>Email</th>   <th>Contact</th>  <th>Actions</th></tr>
                
                {% for staff in approved_staff %}
                <tr><td>{{ staff.staff_id }}</td>          <td>{{ staff.name }}</td>  <td>{{ staff.users.email }}</td>      <td>{{ staff.phone }}</td>   
                <td><a href="{{ url_for('blacklist_staff', staff_id=staff.staff_id) }}" class="btn-link btn-danger">Blocklist</a></td></tr>
                
                {% else %}

                <tr><td colspan="5">No approved staff present</td></tr>

                {% endfor %}
            </table>

        <!--Blacklisted staff-->
        <h3>Blacklisted:</h3>
            <table class="normal" border="1">
                <tr><th>Staff ID</th>     <th>Name</th>     <th>Email</th>   <th>Contact</th>  <th>Actions</th></tr>
                
                {% for staff in blacklisted_staff %}
                <tr><td>{{ staff.staff_id }}</td>          <td>{{ staff.name }}</td>  <td>{{ staff.users.email }}</td>      <td>{{ staff.phone }}</td>   
                <td><a href="{{ url_for('approve_staff', staff_id=staff.staff_id) }}" class="btn-link">Unblock</a></td></tr>
                    
                {% else %}
                <tr><td colspan="5">No Blacklisted staff</td></tr>

                {% endfor %}
            
            </table>

    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>