<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>AdminDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Admin</h2>
        <nav>
            <a href="{{ url_for('admin_dashboard') }}"> Dashboard </a>|
            <a href="{{ url_for('admin_treks') }}"> Trek </a>|
            <a href="{{ url_for('admin_staff') }}"> Staff Management </a>|
            <a href="{{ url_for('admin_user') }}"> User Management </a>
        </nav>
    </header>

    <main>
        <h1>Trekking Info</h1>
        <a href="{{ url_for('add_trek') }}" class="btn-link btn-big">+ Add New Trek</a>
        
        <table class="normal" border="1">
            <tr><th>ID</th>     <th>Trek Name</th>   <th>Location</th>   <th>Difficulty</th>        <th>slots</th>  <th>Status</th>  <th>Staff</th> <th>Actions</th></tr>
            
            {% for trek in treks %}
            <tr><td>{{ trek.trek_id }}</td>
                <td>{{ trek.trek_name }}</td>
                <td>{{ trek.location }}</td>
                <td>{% if trek.difficulty == 0 %} Easy {% elif trek.difficulty == 1 %} Moderate {% else %} hard {% endif %}</td>     
                <td>{{ trek.avail_slots }} / {{ trek.total_slots }}</td>     
                <td>
                    {% if trek.trek_status == 0 %}
                        Pending
                    {% elif trek.trek_status == 1 %}
                        Approved
                    {% elif trek.trek_status == 2 %}
                        Open
                    {% elif trek.trek_status == 3 %}
                        Closed
                    {% elif trek.trek_status == 4 %}
                        Completed
                    {% endif %}
                </td>

                <td>
                {% if trek.staff_profiles %}
                    {{ trek.staff_profiles.name }}
                {% else %}
                    Not Assigned
                {% endif %}
                </td>
                <td><a href="{{ url_for('edit_trek', trek_id=trek.trek_id) }}" class="btn-link">Edit</a>
                    
                    {% if trek.trek_status == 0 %}
                    <a href="{{ url_for('approve_trek',trek_id=trek.trek_id) }}"class="btn-link btn-done">Approve</a>
                    {% endif %}
                </td>

            {% else %}

            <tr>
                <td colspan="8">No treks available</td>
            </tr>
            
            {% endfor %}
        </table>

        <nav>
                <a href="{{ url_for('admin_bookings') }}"> View All Bookings → </a>
        </nav>
    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>