<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>AdminDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Admin</h2>
        <nav>
            <a href="admin_dashboard.html"> Dashboard </a>|
            <a href="admin_treks.html"> Trek </a>|
            <a href="admin_staff.html"> Staff Management </a>|
            <a href="admin_user.html"> User Management </a>|
        </nav>
    </header>

    <main>
        <h1>Dashboard</h1>
        <table class="Dashboard">
            <tr><th>Total Treks</th><th>Total Users</th><th>Total Staff</th><th>Total Booking</th></tr>
            <tr><td>15</td>        <td>75</td>         <td>10</td>         <td>70</td></tr>
        </table>

        <h3>Recent Bookings</h3>
        <table class="normal" border="1">
            <tr><th>Booking ID</th> <th>User</th>   <th>Trek</th>   <th>Booking Date</th>   <th>Status</th></tr>
            <tr><td>101</td>        <td>Vrushank</td><td>Himalaya</td><td>10/05/2029</td>   <td>Open/Closed</td></tr>
        </table>

        <nav>
                <a href="admin_bookings.html"> View All Bookings → </a>
        </nav>
    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>