<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>AdminDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Admin</h2>
        <nav>
            <a href="{{ url_for('admin_dashboard') }}"> Dashboard </a>|
            <a href="{{ url_for('admin_treks') }}"> Trek </a>|
            <a href="{{ url_for('admin_staff') }}"> Staff Management </a>|
            <a href="{{ url_for('admin_user') }}"> User Management </a>
        </nav>
    </header>

    <main>
        <h1>Dashboard</h1>
        <table class="Dashboard">
            <tr><th>Total Treks</th><th>Total Users</th><th>Total Staff</th><th>Total Booking</th></tr>
            <tr><td>{{ total_treks }}</td> <td>{{ total_users }}</td> <td>{{ total_staff }}</td> <td>{{ total_bookings }}</td></tr>
        </table>

        <h3>Recent Bookings</h3>
        <table class="normal" border="1">
            <tr><th>Booking ID</th> <th>User</th>   <th>Trek</th>   <th>Trek Date</th>  <th>Booking Date</th>   <th>Status</th></tr>
            {% for booking in recent_bookings %}
            <tr><td>{{ booking.booking_id }}</td>        
                <td>{{ booking.trekker_profiles.name }}</td>
                <td>{{ booking.treks.trek_name }}</td>
                <td>{{ booking.treks.start_date.strftime('%d-%m-%Y') }}</td>
                <td>{{ booking.booking_date.strftime('%d-%m-%Y') }}</td>   
                <td>                
                    {% if booking.booking_status == 0 %}
                        Booked
                    {% elif booking.booking_status == 1 %}
                        Cancelled
                    {% elif booking.booking_status == 2 %}
                        Completed
                    {% endif %}
                </td>
            </tr>

        {% else %}
        <tr><td colspan="6">No bookings available.</td></tr>
        {% endfor %}
        </table>

        <nav>
                <a href="{{ url_for('admin_bookings') }}"> View All Bookings → </a>
        </nav>
    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>