<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>login</title>
</head>
<body background={{ url_for('static', filename='images/login_page_img.png') }}>
<div class="login">
    <h2>Login Now!</h2>
    <table>
        <form action="/login" method="POST">
            <tr><td><label>Email:</label></td>           <td><input type="email" name="emailid"></td></tr>
            <tr><td><label>Password:</label></td>        <td><input type="password" name="pwd"></td></tr>
            <tr><td><input type="submit" value="Login">  <td><a href="{{ url_for('signup')}} ">Not Registered?</a></td></tr>
        </form>
    </table>
</div>
</body>
</html>