<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body background="/images/login_page_img.png">
<div class="login">
    <h2>Register Now!</h2>
    <table>
        <form>
            <tr><td><label>Full Name:</label></td>       <td><input type="text" name="uname"></td></tr>
            <tr><td><label>Email:</label></td>           <td><input type="email" name="emailid"></td></tr>
            <tr><td><label>Password:</label></td>        <td><input type="password" name="pwd"></td></tr>
            <tr><td><label>User Type:</label></td>       
                <td>
                    <select name="utype">
                        <option value="None" disabled selected>None</option>
                        <option value="Trekker">Trekker</option>
                        <option value="Staff">Staff</option>
                    </td>
            </tr>
            <tr><td><label>Phone No:</label></td>       <td><input type="phone" name="ph"></td></tr>
            <tr><td><button value="Signup">Signup</button></td> <td><a href="login.html">Already Registered?</a></td></tr>
        </form>
    </table>
</div>
<h3></h3>
</body>
</html>