<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>StaffDashboard</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : Staff</h2>
    </header>

    <main>
        <h1>My Dashboard</h1>
        <table class="Dashboard">
            <tr><th>Assigned Treks</th><th>Total Participants</th><th>Currently Open Treks</th></tr>
            <tr><td>3</td>              <td>30</td>               <td>2</td></tr>
        </table>

        <h3>My Assigned Treks</h3>
        <table class="normal" border="1">
            <tr><th>Trek Name</th> <th>Location</th>   <th>Participants</th>   <th>Slots</th>   <th>Status</th>   <th>Actions</th></tr>
            <tr><td>Everest</td>   <td>Himalaya</td>   <td>12</td>             <td>15</td>   <td>Open/Closed</td>
                <td><a href="staff_treks.html" class="btn-link">Manage</a></td></tr>
        </table>
    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>