<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>UserDashboardbook</title>
</head>
<body>
    <header>
        <h2>Trakking Management System (TMS) : User</h2>
        <nav>
            <a href="user_dashboard.html"> Dashboard </a>|
            <a href="user_book.html"> Bookings </a>|
            <a href="user_history.html"> My Trekkings </a>|
        </nav>        
    </header>

    <main>
        <a href="user_dashboard.html">Back to Treks</a>
        <h1>Track Name</h1>

        <table class="normal" border="1">
            <tr><td>Location:</td><td>xyz</td></tr>
            <tr><td>Difficulty:</td><td>Hard</td></tr>
            <tr><td>Duration(days):</td><td>12</td></tr>
            <tr><td>Start Date</td><td>xx/xx/xxxx</td></tr>
            <tr><td>End Date:</td><td>xx/xx/xxxx</td></tr>
            <tr><td>Available Slots:</td><td>10</td></tr>
        </table>

        <h2>Description:</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio modi ullam laboriosam id fuga esse aspernatur ab quod soluta molestias ut et rem, laudantium sint doloribus commodi provident accusamus accusantium.</p>

        <input type="button" class="but" name="Final_booking" value="Book Now">

    </main>

    <footer>© 2026 Trekking Management System</footer>
</body>
</html>